<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    *{
        background-color:  rgb(86, 7, 151);
    }
    h1{
        color: white;
        text-align: center;
    }
    p{
        text-align: center;
        justify-content: end;
    }
    a{
        color: white;
        display: block;
        text-align: center;
        margin-top: 5px;
        font-size: 20px;
    }
</style>
</head>

<body >
    <h1 >Welcome to Yourbook</h1>
    <p >This web app is build by <strong>sahul hameed</strong> in this site
    you can store your memorable photos  </p>
    <a href="{% url 'account_login' %}">Click here to enjoy</a>
</body>
</html>